*{
  background-color: rgb(80, 185, 119);
}
button{
  line-height: 200%;
  border-radius: 100em;
  background-color: rgb(89, 87, 87);
  color: white;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  * {
  }
}
